* {
    font-size: 12px;
    font-size: 3.8vw;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}

body {
    padding-right: 20px;
    padding-right: 5%;
    box-sizing: border-box;
}

.wrapper {
    width: 85%;
    margin: 12% auto;
}

.wrapper img {
    display: block;
    width: 100%;
    margin-bottom: 10%;
}

.content p {
    margin: 5% auto;
}